{
    "root": true,
    "parser": "babel-eslint",
    "extends": "standard",
    "env": {
        "es6": true,
        "node": true
    },
    "rules": {
        "indent": ["error", 4],
        "semi": ["error", "always"],
        "camelcase": ["error", {
            "properties": "always"
        }],
        "quote-props": 1,
        "no-multi-spaces": 0,
        "import/no-unresolved": [2]
    }
}
